
/* tarih seçme yeri */
.bilgi{
    position: absolute;
    height: 25px;
    width: 300px;
    left: 100px;
    top: 100px;
    display: flex;
    margin: 50px;
}

/* hesapla buttonu */
#btn{
    position: absolute;
    height: 30px;
    width: 120px;
    top: 400px;
    left: 230px;
    color: black;
    background-color: yellow;

}

#guncel{
    position: absolute;
    right: 80px;
    top: 230px;
    height: 200px;
    width: 150px;

}

